.details-holder{
    display: grid;
	grid-template-columns: repeat(2, 1fr);
    grid-gap:20px;
    padding: 10px;
    margin-left: 30px;
    margin-top: 2%;
    margin-bottom: 10px;
}
.image-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    box-shadow: 0 10px 10px -5px;
}

.image-container img{
    width: 95%;
    height: 95%;
    padding-left:2px;
}
.details-container{
    margin-right: 30px;
    box-shadow: 0 10px 10px -5px;
}

.btn-buy{
    margin-top: 300px;
    width: 90%;
    margin-left: 30px;
    margin-right:30px;
    height: 44px;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 20px;
    height: 70px;
    color: #222;
    background: #f8c27d;
    cursor: pointer;
    border: 1px solid #f8c27d;
    font-family: "IBM Plex Sans",sans-serif;
    font-size: 16px;
    text-transform: uppercase;
}

.more-details{
    box-shadow: 5px 5px 20px;
    margin-top: 50px;
    padding: 10px;
    margin-left: 30px;
    margin-right:30px;
    margin-bottom: 20px;

}
@media screen and (max-width: 960px){
    .details-holder{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:20px;
        padding: 10px;
        margin-left: 30px;
        margin-top: 2%;
        margin-bottom: 10px;
    }
    .btn-buy{
        margin-top: 100px;
        width: 80%;
        margin-left: 30px;
        margin-right:30px;
        height: 44px;
        font-weight: 500;
        font-size: 16px;
        margin-bottom: 20px;
        height: 70px;
        color: #222;
        background: #f8c27d;
        cursor: pointer;
        border: 1px solid #f8c27d;
        font-family: "IBM Plex Sans",sans-serif;
        font-size: 16px;
        text-transform: uppercase;
    }
   
    
}