.page-404{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%
  }
  .page-404 button{
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 10px;
      width: 20%;
      cursor:pointer;
  }